<!-- <p>users-table works!</p> -->

<div class="filter">
  <input type="search" [formControl]="inputFilter" placeholder="Find...">
</div>
<table class="sheru-cp-section table" cdk-table [dataSource]="dataSource" >
  <!-- Position Column -->
  <ng-container cdkColumnDef="id">
    <th class="table__cell table__cell--head"  scope="row" cdk-header-cell *cdkHeaderCellDef>Id.</th>
    <td class="table__cell"  cdk-cell *cdkCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container cdkColumnDef="name">
    <th class="table__cell table__cell--head"  scope="row" cdk-header-cell *cdkHeaderCellDef>Name</th>
    <td class="table__cell"  cdk-cell *cdkCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container cdkColumnDef="email">
    <th class="table__cell table__cell--head"  scope="row" cdk-header-cell *cdkHeaderCellDef>Email</th>
    <td class="table__cell"  cdk-cell *cdkCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container cdkColumnDef="phone">
    <th class="table__cell table__cell--head"  scope="row" cdk-header-cell *cdkHeaderCellDef>Phone</th>
    <td class="table__cell"  cdk-cell *cdkCellDef="let element">{{ element.phone }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container cdkColumnDef="actions">
    <th class="table__cell table__cell--head"  scope="row" cdk-header-cell  *cdkHeaderCellDef>Actions</th>
    <td class="table__cell"  cdk-cell class="py-4 px-6" *cdkCellDef="let row">
      <button [routerLink]="['../detail/', row.id]">Ver detalle</button>
    </td>
  </ng-container>

  <tr class="table__row" cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr class="table__row" cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
</table>
